html {
  font-size: 14px;
}

body {
  color: #252a2f;
}

#root {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding-top: constant(safe-area-inset-top);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);
}

.subtitle {
  color: #586169;
}

.panel {
  background: #f6f8fa;
  border-color: #eaecf0 !important;
}

.panel__controls {
  background: linear-gradient(180deg, rgba(246,248,250,0) 0%, rgba(246,248,250,1) 15%);
}

.counter {
  width: 20px;
  font-size: 0.8125em;
  font-weight: 500;
  line-height: 1;
  background: #e4e7ea;
  color: #6b747d;
}

.task {
  min-height: 69px;
}

.icon,
.timer,
.cost {
  color: #6b747d;
}

.loading {
  pointer-events: none;
}

.loading__icon {
  opacity: 0.5;
}

.loading__title {
  height: 1.15rem;
  background: #f6f8fa;
}

.loading__meta {
  width: 50%;
  height: 1rem;
  background: #f6f8fa;
}

.loading__button {
  width: 4.28rem;
  height: 1.9rem;
  background: #f6f8fa;
}
